.articleCard{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 941px;
    height: 807px;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    margin-top: 26px;
}

.articleHeader{
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0 15px;
    padding: 0;
}

.articleLeft{
    margin: 0;
    padding: 0;
}

.articleTitleLikes{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.articleTitle{
    font-weight: 400;
    font-size: 20px;
    color: #1890FF;
    margin: 0;
    padding: 0;
}

.articleLikes{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin: 5px 0 0 13px ;
    padding: 0;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    &:hover:active {
        transform: scale(0.8);
        // background-color: red;
      }
}
.activeLikes{
    color: #ff0000;
    // background-color: red;
}


.articleTags{
    margin: 6px 0;
    padding: 0;
}

.articleTagBtn{
    padding: 2px 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    margin: 0 8px 0 0;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    
}

.articleRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


.articleInfo{
    margin: 0;
    padding: 0;
}

.articleName{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    margin: 5px 12px 0 12px;
    padding: 0;
}

.articleDate{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 12px 0 12px;
    padding: 0;
}

.articleAvatar{
    margin: 0;
    padding: 0;

}

.articleOverview{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
    margin: 0 240px 24px 19px;
    padding: 0;
    line-height: 22px;
}

img{
    width: 46px;
    height: 46px;
    border-radius: 5px;
}

.articleBody{
    padding: 19px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.articleRightFlex{
    display: flex;
}
.btnBlock{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: end;
    position: relative;
}

.btnDel{
    // padding: 10px 18px;
    // border: none;
    width: 78px;
    height: 31px;
    border: 1px solid #F5222D;
    border-radius: 5px;
    font: inherit;
    // color: inherit;
    color: #F5222D;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 0px;
    // margin-top: 25px;
    cursor: pointer;

    &:hover{
        border: 1px solid #F5222D;
        border-radius: 5px;
        color: rgba#F5222D;
    }

}
.btnDel a {
    color: #F5222D; 
    &:focus {
        color: #F5222D; 
    }

    &:hover {
        
        color: #F5222D; 
    }
}
.btnEdit{
    // padding: 10px 18px;
    // border: none;
    width: 78px;
    height: 31px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    font: inherit;
    // color: inherit;
    color: #52C41A;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 12px;
    // margin-top: 25px;
    cursor: pointer;

    &:hover{
        border: 1px solid #52C41A;
        border-radius: 5px;
        color: rgba#52C41A;
    }

}
.btnEdit a {
    color: #52C41A; 
    &:focus {
        color: #52C41A; 
    }

    &:hover {
        
        color: #52C41A; 
    }
}
.modalContainer{
    // width: 240px;
    // height: 104px;
    padding: 16px;
    margin: 0;
}
.modalInfo{
    display: flex;
    justify-content: start;
    margin: 0;
    & img {
        width: 14px;
        height: 14px;
        margin: 3px 0 0 0;
    }
    & p{
        margin-left: 9px;
    }
}
.modalBtnBlock{
    display: flex;
    justify-content: end;
}
.modalBtn{
    padding: 0px 8px;
    // border: none;
    // width: 78px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font: inherit;
    color: inherit;
    // color: #52C41A;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-left: 8px;
    // margin-top: 25px;
    cursor: pointer;

    &:hover{
        border: 1px solid #1890FF;
        border-radius: 5px;
        color: #FFFFFF;
        background-color: #1890FF;

    }
}