.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 938px;
    // height: 807px;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    margin-top: 59px;
    margin-bottom: 100px;
    padding: 0 32px;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    // line-height: 28px;
    color: #262626;
    margin-top: 48px;
    margin-bottom: 21px;
}
.form{
   margin: 0;
    display: flex;
    flex-direction: column;
    & .tags{
        // align-self:flex-start;
        margin: 0 0 0 0;
        display: flex;
    }
}
.label{
    display: flex;
    flex-direction: column;
    margin: 0 0 21px 0;
    & .labelP{
        margin: 0 0 2px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
    }
    & input, textarea{
        padding: 8px 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        // color: #BFBFBF;
        background: #FFFFFF;

        border: 1px solid #D9D9D9;
        border-radius: 4px;
        &:focus{
            border: 1px solid #D9D9D9;
        }
    }

}
// .label .errorValid{
//     margin: 0;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 22px;

//     color: #F5222D;
//     & p {
//         margin: 0;
//     }
// }

.errorValid{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #F5222D;
    & p {
        margin: 0;
    }
}
.inputCheckbox{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.submitBtn{
    background-color: #56a7e9;
    color: #FFFFFF;
    // border: 1px solid red;
    // margin: 20px 0 0 0;
    // padding: 20px;
    width: 319px;
    height: 40px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    // margin-top: 0;
    margin-bottom: 48px;
    // &:hover{
    //     background-color: #409eeb;
    //     // color: #4A4A4A;
    // }
    &:enabled{
        background-color: #1890FF;
        border: none;
    }
}
.linkSign{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    margin: 8px 0 48px 0;
}


.visuality_hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.labelCheckbox {
    position: relative;
    // padding-left: 30px;
    cursor: pointer;
    display: block;
    padding: 12px 20px 12px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #595959;
    &::after{
        display: block;                  /* делаем псевдоэлемент блоком для последующего работы с ним, как с простым div'ом */
        width:320px;                    /* устанавливаем ширину линию. Можно использовать произвольную ширину */
        content: '';                     /* позволяет вставлять генерируемое содержание в текст страницы, которое первоначально в тексте отсутствует */
        position: absolute;              /* абсолютное позиционирование для управления линиями */
        border-bottom: 1px solid #E8E8E8;   /* бордер псевдо дива, т.е. сама линия */
        top:0%;                         /* позиционирование по вертикали */
        right: 0px;
    }
}
// .labelCheckbox:hover{
//     background-color: #F1FCFF;
// }
.checker{
    position: absolute;
    top: 15px;
    margin-left: -30px;
    width: 16px;
    height: 16px;
    background-image: url(../img/checkboxOff.svg);
}
.inputCheckbox:checked + .checker {
    background-image: url(../img/checkboxOn.svg);
}

.errorBorder{
    border: 1px solid red !important;
    &:focus{
        border: 1px solid red;
    }
}

.btnDel{
    // padding: 10px 18px;
    // border: none;
    width: 120px;
    height: 40px;
    border: 1px solid #F5222D;
    border-radius: 5px;
    font: inherit;
    // color: inherit;
    color: #F5222D;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 19px;
    // margin-top: 25px;
    cursor: pointer;

    &:hover{
        border: 1px solid #F5222D;
        border-radius: 5px;
        color: rgba#F5222D;
    }

}
.btnDel a {
    color: #F5222D; 
    &:focus {
        color: #F5222D; 
    }

    &:hover {
        
        color: #F5222D; 
    }
}

.btnAdd{
    // padding: 10px 18px;
    // border: none;
    width: 120px;
    height: 40px;
    border: 1px solid #1890FF;
    border-radius: 5px;
    font: inherit;
    // color: inherit;
    color: #1890FF;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 19px;
    // margin-top: 25px;
    cursor: pointer;
    &:hover{
        border: 1px solid #1890FF;
        border-radius: 5px;
        color: rgba#1890FF;
    }

}
.btnAdd a {
    color: #1890FF; 
    &:focus {
        color: #1890FF; 
    }

    &:hover {
        
        color: #1890FF; 
    }
}
.OneTag{
    display: flex;
    margin: 0 0 5px 0;
}
.tagElement{
    margin: 0;
    width: 300px;
    height: 40px;
    padding: 6px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    // color: #BFBFBF;
    background: #FFFFFF;

    border: 1px solid #D9D9D9;
    border-radius: 4px;

}
.btnDelTag{
    // padding: 10px 18px;
    // border: none;
    width: 120px;
    height: 40px;
    border: 1px solid #F5222D;
    border-radius: 5px;
    font: inherit;
    // color: inherit;
    color: #F5222D;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 19px;
    // margin-top: 25px;
    cursor: pointer;

    &:hover{
        border: 1px solid #F5222D;
        border-radius: 5px;
        color: rgba#F5222D;
    }

}
.btnDelTag a {
    color: #F5222D; 
    &:focus {
        color: #F5222D; 
    }

    &:hover {
        
        color: #F5222D; 
    }
}
.tags{
    flex-direction: column;
    margin: 0;
}
.labelPTags{
    margin: 0 0 2px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
}
.labelTags{
    margin: 0 0 21px 0;
}
.labelTagsInput{
    padding: 8px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 300px;
    height: 40px;

    // color: #BFBFBF;
    background: #FFFFFF;

    border: 1px solid #D9D9D9;
    border-radius: 4px;
    &:focus{
        border: 1px solid #D9D9D9;
    }
}
.labelInputBlock{
    margin: 0 0 21px 0;
}