@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*,
*:after,
*:before {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100%; */
}

body {
  background-color: #ebeef3;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
